#parse("/secure/common/top.vm")
#parse("${root.getPackageRoot('f7ec610c-d838-4239-87fc-869a8cbf848e')}/top.vm")

<div class="title">Resource Requests</div>
<div class="titleSpacer"/>     

#set($tmp=false)
#set($tmp=$sliceProxy.getRequests($identity.getAuth()))


#set ($errorFlag=false)
#printResultNoRedirect($tmp "An error occurred while obtaining requests list")
#if (!$errorFlag)
	#set($reqs=$tmp.getResult())
#end	


#if (!$reqs || $list.size($reqs) == 0)
	#printMessage("There are no requests")
#else

<table cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td class="tableHeader-right" width="20">No.</td> 
		<td class="tableHeader-left" width="150">Lease Start</td> 
		<td class="tableHeader-left" width="150">Lease End</td> 
		<td class="tableHeader-right" width="50">&nbsp;</td>
		<td class="tableHeader-right" width="50">&nbsp;</td> 
	</tr>
	#foreach($req in $reqs)
    	<tr>
    		<td valign="top">$velocityCount</td>
    		<td valign="top"><nobr>$req.getStart()&nbsp;&nbsp;</nobr></td>
    		<td valign="top"><nobr>$req.getEnd()</nobr></td>
    		<td valign="top" align="right"><a href="details.vm?requestId=$req.getId()">details</a></td> 
    		<td valign="top" align="right">
    			#if ($req.isClosed())
    				<b>closed</b>
    			#else
    				<a href="close.vm?requestId=$req.getId()">close</a>
    			#end	
    		</td> 
		</tr>
	#end
</table>

#end

