#parse("/secure/common/top.vm")
#parse("${root.getPackageRoot('f7ec610c-d838-4239-87fc-869a8cbf848e')}/top.vm")

<div class="title">BEN Request Details</div>
<div class="titleSpacer"/>     


#set($tmp=false)
#set($tmp=$sliceProxy.getRequests($params.getString("requestId"), $identity.getAuth()))

#set ($errorFlag=false)
#printResultNoRedirect($tmp "An error occurred while obtaining request details")
#if (!$errorFlag)
	#set($reqs=$tmp.getResult())
#end	


#if ($list.size($reqs) == 0)
	#printMessage("There are no requests")
#else
	#set($req=$list.get($reqs, 0))
    <table border="0" cellpadding="0" cellspacing="0" class="formtable"> 
    	<tr>
        	<td class="formtablename" width="150">Request ID</td>
            <td class="formtablecont">$req.getId()</td>
        </tr>
        <tr>
		 	<td class="formtablename" width="150">Lease Start</td>
            <td class="formtablecont">$req.getStart()</td>
        </tr>
         <tr>
		 	<td class="formtablename" width="150">Lease End</td>
            <td class="formtablecont">$req.getEnd()</td>
        </tr>
        <tr>
		 	<td class="formtablename" width="150">Vlan Tag</td>
            <td class="formtablecont">$!{req.getVlanTag()}</td>
        </tr>
        <tr>
		 	<td class="formtablename" width="150">Vitual Machines (DUKE)</td>
            <td class="formtablecont">$req.getVmsDuke()</td>
        </tr> 
    	<tr>
    		<td class="formtablename" width="150">&nbsp;</td>
    		<td class="formtablecont">
			#set ($tmp=false)
    		#set ($tmp = $actorProxy.getReservationNodes($req.getRidDuke(), $identity.getAuth()))
			#printResultNoRedirect($tmp.getStatus() "An error occurred while fetching virtual machines information")
			#if (!$errorFlag)
				#set($nodes=$tmp.getResult())
				#if ($root.getSize($nodes) == 0)
					#printMessage("No virtual machines")
				#else
					<table cellpadding="0" cellspacing="0" border="0" class="data">
						<tr>
							<td class="tableHeader" width="20">No</td>
                			<td class="tableHeader-left" width="150">Host name</td>
                			<td class="tableHeader-left" width="100">IP</td>
                			<td class="tableHeader-left" width="100">State</td>
                		</tr>
						#foreach ($node in $nodes)
						<tr>
							<td>$velocityCount</td>
							<td>$node.getName()</td>
							<td>$node.getIp()</td>
							<td>$root.getNodeState($node.getState())</td>
						</tr>
						#end
					</table>
				#end
			#end
			</td>
		</tr>
     	<tr>
		 	<td class="formtablename" width="150">Vitual Machines (RENCI)</td>
            <td class="formtablecont">$req.getVmsRenci()</td>
        </tr> 
    	<tr>
    		<td class="formtablename" width="150">&nbsp;</td>
    		<td class="formtablecont">
			#set ($tmp=false)
    		#set ($tmp = $actorProxy.getReservationNodes($req.getRidRenci(), $identity.getAuth()))
			#printResultNoRedirect($tmp.getStatus() "An error occurred while fetching virtual machines information")
			#if (!$errorFlag)
				#set($nodes=$tmp.getResult())
				#if ($root.getSize($nodes) == 0)
					#printMessage("No virtual machines")
				#else
					<table cellpadding="0" cellspacing="0" border="0" class="data">
						<tr>
							<td class="tableHeader" width="20">No</td>
                			<td class="tableHeader-left" width="150">Host name</td>
                			<td class="tableHeader-left" width="100">IP</td>
                			<td class="tableHeader-left" width="100">State</td>
                		</tr>
						#foreach ($node in $nodes)
						<tr>
							<td>$velocityCount</td>
							<td>$node.getName()</td>
							<td>$node.getIp()</td>
							<td>$root.getNodeState($node.getState())</td>
						</tr>
						#end
					</table>
				#end
			#end
			</td>
		</tr>
</table>
#end

