#parse("/secure/common/top.vm")
#parse("${root.getPackageRoot('f7ec610c-d838-4239-87fc-869a8cbf848e')}/top.vm")

<div class="title">BEN Resource Requests</div>
<div class="titleSpacer"/>     

#set($tmp=false)
#set($tmp=$sliceProxy.getRequests($identity.getAuth()))

#set ($errorFlag=false)
#printResultNoRedirect($tmp "An error occurred while obtaining requests list")
#if (!$errorFlag)
	#set($reqs=$tmp.getResult())
#end	


#if ($list.size($reqs) == 0)
	#printMessage("There are no requests")
#else

<table cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td class="tableHeader-right" width="20">No.</td> 
		<td class="tableHeader-left" width="100">Start</td> 
		<td class="tableHeader-left" width="100">End.</td> 
		<td class="tableHeader-right" width="50">RENCI</td> 
		<td class="tableHeader-right" width="50">DUKE</td>
		<td class="tableHeader-right" width="50"><nobr>Vlan Tag</nobr></td>
		<td class="tableHeader-right" width="50">&nbsp;</td>
	</tr>
	#foreach($req in $reqs)
    	<tr>
    		<td>$velocityCount</td>
    		<td><nobr>&nbsp;$req.getStart()</nobr></td>
    		<td><nobr>&nbsp;$req.getEnd()</nobr></td>
    		<td align="right">
    			<a href="$uri/secure/user/reservation-view.vm?actor=$vsession.actor.getName()&slice=$vsession.slice.getID()&rid=$req.getRidRenci()">
    				$req.getVmsRenci()
    			</a>
    		</td>
     		<td align="right">
    			<a href="$uri/secure/user/reservation-view.vm?actor=$vsession.actor.getName()&slice=$vsession.slice.getID()&rid=$req.getRidDuke()">
    				$req.getVmsDuke()
    			</a>
    		</td>
    		<td align="right">$!{req.getVlanTag()}</td>
    		<td align="right"><a href="details.vm?requestId=$req.getId()">details</a></td> 
		</tr>
	#end
</table>

#end

