<?xml version="1.0" encoding="UTF-8" standalone="yes"?> 
<configuration xmlns="http://issg.cs.duke.edu/sharp/boot"> 
    <actors> 
        <actor> 
            <type>
                 site 
            </type> 
            <name>
                 duke-net-site 
            </name> 
            <guid>
                 a0b1324e-23e7-11df-85d1-000c29b1c193 
            </guid> 
            <description>
                 DUKE NET site authority 
            </description> 
            <pools> 
                <pool> 
                    <type>
                         duke.vlan 
                    </type> 
                    <label>DUKE NET VLAN</label> 
                    <description>
                         A VLAN over DUKE NET 
                    </description> 
                    <units>
                         4 
                    </units> 
                    <start>
                         2010-01-30T00:00:00 
                    </start> 
                    <end>
                         2011-01-30T00:00:00 
                    </end> 
                    <handler path="common/noop.xml" /> 
                    <properties> 
                        <property name="vlan.tag.start" value="11" /> 
                        <property name="vlan.tag.end" value="14" /> 
                    </properties> 
                </pool> 
            </pools> 
            <controls> 
                <control type="duke.vlan" class="net.exogeni.orca.policy.core.VlanControl" />
            </controls> 
        </actor> 
        <actor> 
            <type>
                 site 
            </type> 
            <name>
                 ben-site 
            </name> 
            <guid>
                 a3a84424-23e7-11df-a8ff-000c29b1c193 
            </guid> 
            <description>
                 BEN site authority 
            </description> 
            <inventory>
                 ben.na 
            </inventory> 
            <pools> 
                <pool> 
                    <type>
                         ben.vlan 
                    </type> 
                    <label>BEN VLAN</label> 
                    <description>
                         A VLAN over BEN 
                    </description> 
                    <units>
                         100 
                    </units> 
                    <start>
                         2010-01-30T00:00:00 
                    </start> 
                    <end>
                         2011-01-30T00:00:00 
                    </end> 
                    <handler path="controllers/ben/gec7/ben.xml" /> 
                    <properties> 
                        <property name="substrate.file" value="orca/network/ben-6509.rdf" /> 
                    </properties> 
                </pool> 
            </pools> 
            <controls> 
                <control type="ben.vlan" class="net.exogeni.orca.controllers.ben.control.BenNdlControl" />
            </controls> 
        </actor> 
        <actor> 
            <type>
                 site 
            </type> 
            <name>
                 nlr-site 
            </name> 
            <description>
                 NLR site authority 
            </description> 
            <guid>
                 a6bac0d8-23e7-11df-8b63-000c29b1c193 
            </guid> 
            <pools> 
                <pool> 
                    <type>
                         nlr.vlan 
                    </type> 
                    <label>NLR VLAN</label> 
                    <description>
                         A VLAN over NLR 
                    </description> 
                    <units>
                         100 
                    </units> 
                    <start>
                         2010-01-30T00:00:00 
                    </start> 
                    <end>
                         2011-01-30T00:00:00 
                    </end> 
                    <handler path="network/nlr/handler.xml"> 
                        <properties> 
                            <property name="NLRSherpa.bandwidth" value="500000" /> 
                            <property name="nlr.credentials" value="/opt/orca/config/nlr.properties" /> 
                        </properties> 
                    </handler> 
                </pool> 
            </pools> 
            <controls> 
                <control type="nlr.vlan" class="net.exogeni.orca.policy.core.UnitsControl" />
            </controls> 
        </actor> 
        <actor> 
            <type>
                 site 
            </type> 
            <name>
                 starlight-site 
            </name> 
            <description>
                 Starlight site authority 
            </description> 
            <guid>
                 a9c9cd6e-23e7-11df-af97-000c29b1c193 
            </guid> 
            <inventory>
                 starlight.na 
            </inventory> 
            <pools> 
                <pool> 
                    <type>
                         starlight.vlan 
                    </type> 
                    <label>Starlight VLAN</label> 
                    <description>
                         A VLAN over Starlight 
                    </description> 
                    <units>
                         100 
                    </units> 
                    <start>
                         2010-01-30T00:00:00 
                    </start> 
                    <end>
                         2011-01-30T00:00:00 
                    </end> 
                    <handler path="controllers/ben/gec7/starlight.xml" /> 
                </pool> 
            </pools> 
            <controls> 
                <control type="starlight.vlan" class="net.exogeni.orca.policy.core.UnitsControl" />
            </controls> 
        </actor> 
        <actor> 
            <type>
                 broker 
            </type> 
            <name>
                 broker 
            </name> 
            <guid>
                 acaa0b8e-23e7-11df-b278-000c29b1c193 
            </guid> 
            <policy class="net.exogeni.orca.policy.core.BrokerSimplerUnitsPolicy">
                <properties> 
                    <property name="queue.type" value="fifo" /> 
                </properties> 
            </policy> 
        </actor> 
    </actors> 
    <topology> 
        <edges> 
            <edge> 
                <from name="service" guid="af7b4558-23e7-11df-bf65-000c29b1c193" type="service"> 
                    <location protocol="soapaxis2" url="http://geni-ben.renci.org:8080/orca/services/service" /> 
                    <certificate>
                         MIICbTCCAdagAwIBAgIES4mPlDANBgkqhkiG9w0BAQUFADB7MQswCQYDVQQGEwJVUzELMAkGA1UE CBMCTkMxDzANBgNVBAcTBkR1cmhhbTENMAsGA1UEChMEb3JjYTEQMA4GA1UECxMHc2hpcmFrbzEt MCsGA1UEAxMkYWY3YjQ1NTgtMjNlNy0xMWRmLWJmNjUtMDAwYzI5YjFjMTkzMB4XDTEwMDIyNzIx MzMwOFoXDTIwMDIyNTIxMzMwOFowezELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAk5DMQ8wDQYDVQQH EwZEdXJoYW0xDTALBgNVBAoTBG9yY2ExEDAOBgNVBAsTB3NoaXJha28xLTArBgNVBAMTJGFmN2I0 NTU4LTIzZTctMTFkZi1iZjY1LTAwMGMyOWIxYzE5MzCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkC gYEAg60iipHC+qA8ZIP+aUYPtSLNZvgdoe/nTCrhm0TfS60llkn0EHFlMemknq7j7BflcmOXibFi zqjF/k3oifAF/ecdQfhmp/msfBiQ10H38HPTg82w7aOlEc9O3OPjag2tDWjE7gNLnmC8E2TCuRT2 JsPErdPpCVzgYrAmIrTNhK0CAwEAATANBgkqhkiG9w0BAQUFAAOBgQBeCeNMyKBFR3CIgrz7neEX aVnFybyXljav2rx1+ofaBdak8MzM3gJcTfS6kPQ4uPDxhztRCR0075feArISTUCz0/It8/PtiEVz sr6PkDGu1g3q7Dleo/v2hoQbGs6Gu7cbKrOLJv54nHxLIrxpyEjAFswVOwwS+0LCeIa2R4JUkA== 
                    </certificate> 
                </from> 
                <to name="broker" type="broker" /> 
            </edge> 
            <edge> 
                <from name="broker" type="broker" /> 
                <to name="duke-vm-site" guid="9b12d036-23e7-11df-b3a3-000c29b1c193" type="site"> 
                    <location protocol="soapaxis2" url="http://orca.cod.cs.duke.edu:8080/orca/services/duke-vm-site" /> 
                    <certificate>
                         MIICbTCCAdagAwIBAgIES4mPcTANBgkqhkiG9w0BAQUFADB7MQswCQYDVQQGEwJVUzELMAkGA1UE CBMCTkMxDzANBgNVBAcTBkR1cmhhbTENMAsGA1UEChMEb3JjYTEQMA4GA1UECxMHc2hpcmFrbzEt MCsGA1UEAxMkOWIxMmQwMzYtMjNlNy0xMWRmLWIzYTMtMDAwYzI5YjFjMTkzMB4XDTEwMDIyNzIx MzIzM1oXDTIwMDIyNTIxMzIzM1owezELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAk5DMQ8wDQYDVQQH EwZEdXJoYW0xDTALBgNVBAoTBG9yY2ExEDAOBgNVBAsTB3NoaXJha28xLTArBgNVBAMTJDliMTJk MDM2LTIzZTctMTFkZi1iM2EzLTAwMGMyOWIxYzE5MzCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkC gYEAiHwEwocrk2I7DhZc4nX7SOXu4U4MyTdAtT7uULnZUv2HfJsfX5EG+03jwrHVuxkqv9V2sgZN 27EIerO+wML2c/htamIXMfNZpktEBZVb/mkoIBgG2Mo6kOhoY6Sh7pOcsqgh4BWtAe6gPRX2d+Ts 4SFlpcaMPizRKTObsuTb53ECAwEAATANBgkqhkiG9w0BAQUFAAOBgQBY2IApnZsHez/yrEH0h5Tr 8jgD1oifVqu/h8bplbGqsj8bZZSIS5HR0xiWyp85vxARogrNnw/4o4gkBsB/SOJ0n/YnE4xNosCc nBnha4IFdvAKLGiIZhN/SNNsrECohpXy0kd2iwFZCeegLKF6h2dMtFuK1U7Jm1JND1yZJ2+aEA== 
                    </certificate> 
                </to> 
            </edge> 
            <edge> 
                <from name="broker" type="broker" /> 
                <to name="vise-site" guid="9df4de98-23e7-11df-b49f-000c29b1c193" type="site"> 
                    <location protocol="soapaxis2" url="http://geni.cs.umass.edu:8080/orca/services/vise-site" /> 
                    <certificate>
                         MIICaDCCAdECBEuWY3cwDQYJKoZIhvcNAQEEBQAwezELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAk5D MQ8wDQYDVQQHEwZEdXJoYW0xDTALBgNVBAoTBG9yY2ExEDAOBgNVBAsTB3NoaXJha28xLTArBgNV BAMTJDlkZjRkZTk4LTIzZTctMTFkZi1iNDlmLTAwMGMyOWIxYzE5MzAeFw0xMDAzMDkxNTA0MjNa Fw0yMDAzMDYxNTA0MjNaMHsxCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJOQzEPMA0GA1UEBxMGRHVy aGFtMQ0wCwYDVQQKEwRvcmNhMRAwDgYDVQQLEwdzaGlyYWtvMS0wKwYDVQQDEyQ5ZGY0ZGU5OC0y M2U3LTExZGYtYjQ5Zi0wMDBjMjliMWMxOTMwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMaM Gg65tdaGw+LiuuqtIKEjKG5fKWcguoX/eC3HApsO4DtmY61URwghBe4FgVlzMH3y03Dl8Z851uVU H4Z6+cocPElvt6/MGkXGMy8vSudtuaS9kiAaMVQqXRdAcnCtZqHmPyJ3XSGQP1PmCdJQOPtZchVM YPdhdDiw7g0Do+1ZAgMBAAEwDQYJKoZIhvcNAQEEBQADgYEAgZNbLGoGr8Y1YV6OvJbGhZY/ou0l bmGIjpK2l1vHxRvIKCO5wVxOcCGfxd7GNIca2UL4psoeRKV6/jlUPjCxD2a+sQfz60ZBqUMzDzGy IUjZOkrYRTLeDfbyewcPQccyOxCLU/EotDAsPn91riCgj39haMsmE+IBBQaJbAzkXkw= 
                    </certificate> 
                </to> 
            </edge> 
            <edge> 
                <from name="broker" type="broker" /> 
                <to name="duke-net-site" type="site" /> 
                <rset> 
                    <type>
                         duke.vlan 
                    </type> 
                    <units>
                         4 
                    </units> 
                </rset> 
            </edge> 
            <edge> 
                <from name="broker" type="broker" /> 
                <to name="ben-site" type="site" /> 
                <rset> 
                    <type>
                         ben.vlan 
                    </type> 
                    <units>
                         100 
                    </units> 
                </rset> 
            </edge> 
            <edge> 
                <from name="broker" type="broker" /> 
                <to name="nlr-site" type="site" /> 
                <rset> 
                    <type>
                         nlr.vlan 
                    </type> 
                    <units>
                         100 
                    </units> 
                </rset> 
            </edge> 
            <edge> 
                <from name="broker" type="broker" /> 
                <to name="starlight-site" type="site" /> 
                <rset> 
                    <type>
                         starlight.vlan 
                    </type> 
                    <units>
                         10 
                    </units> 
                </rset> 
            </edge> 
        </edges> 
    </topology> 
</configuration>