#parse("/secure/common/top.vm")
#parse("${root.getPackageRoot('f7ec610c-d838-4239-87fc-869a8cbf848e')}/top.vm")

<div class="title">Controller Status</div>
<div class="titleSpacer"/>     

#set($tmp=false)
#set($tmp=$actorProxy.getBrokers($identity.getAuth()))

#set ($errorFlag=false)
#printResultNoRedirect($tmp "An error occurred while obtaining actor's brokers")
#if (!$errorFlag)
	#set($brokers=$tmp.getResult())
#end	

<table cellpadding="0" cellspacing="0" boder="0">
	<tr>
		<td valign="top" style="padding-right:10px">
			#foreach($broker in $brokers)			
				<table cellpadding="0" cellspacing="0" border="0">
					<tr>
				  		<td class="menuTable" colspan="2"><b>Broker</b></td>            
					</tr>
					<tr>
			  			<td class="batchSummaryCell"><b>Name:</b></td>
			  			<td class="batchSummaryCell" style="padding-left: 5px">$broker.getName()</td>
					</tr>
					<tr>
						<td class="batchSummaryCell" valign="top"><b>Avaliable Resources:</b></td>
						<td valign="top" style="padding-left: 5px">
							#set($tmp=false)
							#set($tmp=$actorProxy.getPoolInfo($broker.getName(), $identity.getAuth()))
							#set($pools=$tmp.getResult())	
							<table cellpadding="0" cellspacing="0" border="0">
								<tr>
									<td class="tableHeader-right" width="20">No.</td> 
									<td class="tableHeader-left" width="100">Type</td>
									<td class="tableHeader-left" width="100">Description</td>
								</tr>				
								#foreach($pool in $pools)
									#set($props=false)
									#set($props=$root.convertFromMng($pool.getProperties()))
    			
									<tr>
										<td>$velocityCount</td>
										<td>$pool.getType()</td>
										<td><nobr>$pool.getName()</nobr></td>
									</tr>
								#end
							</table>
						</td>
					</tr>
				</table>
			#end
		</td>
		<td valign="top" class="batchMenu">
			<table boder="0" cellpadding="0" cellspacing="0">
    			<tr>
		        	<td class="menuTable"><b>Actions</b></td>            
        		</tr>
		        <tr>
					<td class="menuTable"><a href="add.vm">Request Resources</td>            			
		        </tr>
        		<tr>
					<td class="menuTable"><a href="view.vm">View Requests</td>            			
        		</tr>
    		</table>
		</td>
	</tr>
</table>
