#parse("/secure/common/top.vm")
#parse("${root.getPackageRoot('e11fd4ce-a727-434c-b17d-00449328b67f')}/top.vm")

<div class="title">OpenFlow Controller Status</div>
<div class="titleSpacer"/>     

#set($tmp=false)
#set($tmp=$sliceProxy.getVMBroker($identity.getAuth()))

#set ($errorFlag=false)
#printResultNoRedirect($tmp "An error occurred while obtaining VM broker details")
#if (!$errorFlag)
	#set($vmbroker=$list.get($tmp.getResult(), 0))
#end	

#set($tmp=false)
#set($tmp=$sliceProxy.getOpenFlowBroker($identity.getAuth()))

#set ($errorFlag=false)
#printResultNoRedirect($tmp "An error occurred while obtaining OpenFlow broker details")
#if (!$errorFlag)
	#set($ofbroker=$list.get($tmp.getResult(), 0))
#end	

<table cellpadding="0" cellspacing="0" boder="0">
<tr><td valign="top" style="padding-right:10px">
<table cellpadding="0" cellspacing="0" border="0">
	<tr>
  		<td class="menuTable" colspan="2"><b>Brokers</b></td>            
	</tr>
	<tr>
  		<td class="batchSummaryCell"><b>Virtual Machines Broker:</b></td>
  		<td class="batchSummaryCell" style="padding-left: 5px">$vmbroker.getName()</td>
	</tr>
	<tr>
		<td class="batchSummaryCell" valign="top"><b>Avaliable Resources:</b></td>
		<td valign="top" style="padding-left: 5px">
			#set($tmp=false)
			#set($tmp=$actorProxy.getPoolInfo($vmbroker.getName(), $identity.getAuth()))
			#set($pools=$tmp.getResult())	
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td class="tableHeader-right" width="20">No.</td> 
					<td class="tableHeader-left" width="60">Type</td>
					<td class="tableHeader-left" width="100">Description</td>
				</tr>
				
				#foreach($pool in $pools)
					#set($props=false)
					#set($props=$root.convertFromMng($pool.getProperties()))
    			
    				<tr>
    					<td>$velocityCount</td>
    					<td><nobr>$pool.getType()</nobr></td>
    					<td><nobr>$pool.getName()</nobr></td>
					</tr>
				#end
			</table>
		</td>
	</tr>
	<tr>
		<td height="10" colspan="2">&nbsp;</td>
	</tr>
	<tr>
  		<td class="batchSummaryCell"><b>OpenFlow Broker:</b></td>
  		<td class="batchSummaryCell" style="padding-left: 5px">$ofbroker.getName()</td>
	</tr>
	<tr>
		<td class="batchSummaryCell" valign="top"><b>Avaliable Resources:</b></td>
		<td valign="top" style="padding-left: 5px">
			#set($tmp=false)
			#set($tmp=$actorProxy.getPoolInfo($ofbroker.getName(), $identity.getAuth()))
			#set($pools=$tmp.getResult())	
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td class="tableHeader-right" width="20">No.</td> 
					<td class="tableHeader-left" width="60">Type</td>
					<td class="tableHeader-left" width="100">Description</td>
				</tr>
				
				#foreach($pool in $pools)
					#set($props=false)
					#set($props=$root.convertFromMng($pool.getProperties()))
    			
    				<tr>
    					<td>$velocityCount</td>
    					<td><nobr>$pool.getType()</nobr></td>
    					<td><nobr>$pool.getName()</nobr></td>
					</tr>
				#end
			</table>
		</td>
	</tr>
</table>
</td>
<td valign="top" class="batchMenu">
	<table boder="0" cellpadding="0" cellspacing="0">
    	<tr>
        	<td class="menuTable"><b>Actions</b></td>            
        </tr>
        <tr>
			<td class="menuTable"><a href="add.vm">Request Resources</a></td>
        </tr>
         <tr>
			<td class="menuTable"><a href="view.vm">View Requests</a></td>            			
        </tr>
    </table>
</td>
</tr>
</table>
