.mainTable { }
.mainTableCell {
    padding-right: 5px;
    padding-left: 20px
}
.masterTable { }
.workerTable { }
.batchMenu {
    border-left: 1px solid #cc3300;
    padding-left: 20px
}
.batchSummary {
    border-right: 1px solid #cc3300;
    padding-right: 20px
}
.batchSummaryCell {
    color: #001a57;
    padding-bottom: 10px
}
.menuTable {
    color: #cc3300;
    padding-bottom: 10px
}