<?xml version="1.0" encoding="UTF-8" standalone="yes"?> 
<configuration xmlns="http://issg.cs.duke.edu/sharp/boot"> 
    <global> 
        <startTime>
            -1
        </startTime> 
        <cycleMillis>
            1000
        </cycleMillis> 
        <firstTick>
            0
        </firstTick> 
        <manualTicks>
            false
        </manualTicks> 
        <containerGuid>
            e13abf84-26b5-4fe6-8640-50b317687079
        </containerGuid> 
        <locations> 
            <location protocol="soapaxis2" url="http://go-m1.renci.ben:8080/orca" /> 
        </locations> 
        <database> 
            <className>
                orca.manage.container.db.MySqlContainerManagementDatabase
            </className> 
            <properties> 
                <property name="db.mysql.server" value="localhost" /> 
                <property name="db.mysql.db" value="orca" /> 
                <property name="db.mysql.user" value="orca" /> 
                <property name="db.mysql.password" value="" /> 
                <property name="db.admin.first" value="Orca" /> 
                <property name="db.admin.last" value="Admin" /> 
                <property name="db.admin.login" value="admin" /> 
                <property name="db.admin.password" value="admin" /> 
                <property name="db.admin.roles" value="home,users,broker,admin" /> 
            </properties> 
        </database> 
    </global> 
    <actors> 
        <actor> 
            <name>
                ben-vlan-site
            </name> 
            <description>
                BEN VLAN site authority
            </description> 
            <guid>
                7b573f53-504a-4059-a527-bc341e14588f
            </guid> 
            <instance> 
                <className>
                    orca.shirako.core.Authority
                </className> 
            </instance> 
            <mapper> 
                <className>
                    orca.policy.core.AuthorityCalendarPolicy
                </className> 
                <parameters> 
                    <parameter base="orca.policy.core.IResourceControl" name="ResourceControl" type="instance"> 
                        <instance> 
                            <className>
                                orca.controllers.ben.control.BenNdlControl
                            </className> 
                            <properties> 
                                <property name="resource.types" value="ben.vlan" /> 
                            </properties> 
                        </instance> 
                    </parameter> 
                </parameters> 
            </mapper> 
            <plugin> 
                <className>
                    orca.cod.plugins.SiteBase
                </className> 
                <properties> 
                    <!-- Devices --> 
                    <property name="inventory.devices" value="6509.renci 6509.unc" /> 
                    <!-- Resource pool configuration --> 
                    <property name="resource.pools.count" value="1" /> 
                    <!-- 	First resource pool configuration --> 
                    <property name="resource.pool.name.0" value="BEN network VLAN" /> 
                    <property name="resource.pool.type.0" value="ben.vlan" /> 
                    <property name="resource.pool.properties.0" value="substrate.file=orca/network/ben-dell.rdf" /> 
                    <property name="resource.pool.ticket.units.0" value="101" /> 
                    <property name="resource.pool.ticket.start.0" value="0" /> 
                    <property name="resource.pool.ticket.end.0" value="10000000" /> 
                    <!-- Handler configuration --> 
                    <property name="resource.pool.handler.packageId.0" value="f7ec610c-d838-4239-87fc-869a8cbf848e" /> 
                    <property name="resource.pool.handler.pluginId.0" value="4" /> 
                    <property name="resource.pool.handler.properties.0" value="" /> 
                </properties> 
                <parameters> 
                    <parameter base="orca.shirako.api.IDatabase" name="Database" type="instance"> 
                        <instance> 
                            <className>
                                orca.cod.plugins.db.MySqlAuthorityCodDatabase
                            </className> 
                            <properties> 
                                <property name="db.mysql.server" value="localhost" /> 
                                <property name="db.mysql.db" value="orca" /> 
                                <property name="db.mysql.user" value="orca" /> 
                                <property name="db.mysql.password" value="" /> 
                            </properties> 
                        </instance> 
                    </parameter> 
                    <parameter base="orca.shirako.plugins.config.Config" name="Config" type="instance"> 
                        <instance> 
                            <className>
                                orca.cod.plugins.config.CodAntConfig
                            </className> 
                        </instance> 
                    </parameter> 
                </parameters> 
            </plugin> 
        </actor> 
        <!-- NLR site --> 
        <actor> 
            <name>
                nlr-vlan-site
            </name> 
            <description>
                NLR VLAN site authority
            </description> 
            <guid>
                faa244bf-0ec7-4aca-af4d-419dda214b9a
            </guid> 
            <instance> 
                <className>
                    orca.shirako.core.Authority
                </className> 
            </instance> 
            <mapper> 
                <className>
                    orca.policy.core.AuthorityCalendarPolicy
                </className> 
                <parameters> 
                    <parameter base="orca.policy.core.IResourceControl" name="ResourceControl" type="instance"> 
                        <instance> 
                            <className>
                                orca.cod.control.VlanControl
                            </className> 
                            <properties> 
                                <property name="resource.types" value="nlr.vlan" /> 
                            </properties> 
                        </instance> 
                    </parameter> 
                </parameters> 
            </mapper> 
            <plugin> 
                <className>
                    orca.cod.plugins.SiteBase
                </className> 
                <properties> 
                    <!-- Resource pool configuration --> 
                    <property name="resource.pools.count" value="1" /> 
                    <!-- 	First resource pool configuration --> 
                    <property name="resource.pool.name.0" value="NLR network VLAN" /> 
                    <property name="resource.pool.type.0" value="nlr.vlan" /> 
                    <property name="resource.pool.properties.0" value="vlan.tag.start=861,vlan.tag.end=870" /> 
                    <property name="resource.pool.ticket.units.0" value="10" /> 
                    <property name="resource.pool.ticket.start.0" value="0" /> 
                    <property name="resource.pool.ticket.end.0" value="10000000" /> 
                    <!-- Handler configuration --> 
                    <property name="resource.pool.handler.packageId.0" value="f7ec610c-d838-4239-87fc-869a8cbf848e" /> 
                    <property name="resource.pool.handler.pluginId.0" value="6" /> 
                    <property name="resource.pool.handler.properties.0" value="" /> 
                </properties> 
                <parameters> 
                    <parameter base="orca.shirako.api.IDatabase" name="Database" type="instance"> 
                        <instance> 
                            <className>
                                orca.cod.plugins.db.MySqlAuthorityCodDatabase
                            </className> 
                            <properties> 
                                <property name="db.mysql.server" value="localhost" /> 
                                <property name="db.mysql.db" value="orca" /> 
                                <property name="db.mysql.user" value="orca" /> 
                                <property name="db.mysql.password" value="" /> 
                            </properties> 
                        </instance> 
                    </parameter> 
                    <parameter base="orca.shirako.plugins.config.Config" name="Config" type="instance"> 
                        <instance> 
                            <className>
                                orca.cod.plugins.config.CodAntConfig
                            </className> 
                        </instance> 
                    </parameter> 
                </parameters> 
            </plugin> 
        </actor> 
        <!-- DUKE net site--> 
        <actor> 
            <name>
                duke-net-site
            </name> 
            <description>
                Duke NET site authority
            </description> 
            <guid>
                e1b44dfb-7eb4-49f8-89d1-0ac65b5caa5b
            </guid> 
            <instance> 
                <className>
                    orca.shirako.core.Authority
                </className> 
            </instance> 
            <mapper> 
                <className>
                    orca.policy.core.AuthorityCalendarPolicy
                </className> 
                <parameters> 
                    <parameter base="orca.policy.core.IResourceControl" name="ResourceControl" type="instance"> 
                        <instance> 
                            <className>
                                orca.cod.control.VlanControl
                            </className> 
                            <properties> 
                                <property name="resource.types" value="duke.vlan" /> 
                            </properties> 
                        </instance> 
                    </parameter> 
                </parameters> 
            </mapper> 
            <plugin> 
                <className>
                    orca.cod.plugins.SiteBase
                </className> 
                <properties> 
                    <!-- Devices --> 
                    <property name="inventory.devices" value="6509.duke" /> 
                    <!-- Resource pool configuration --> 
                    <property name="resource.pools.count" value="1" /> 
                    <!-- 	First resource pool configuration --> 
                    <property name="resource.pool.name.0" value="Duke network VLAN" /> 
                    <property name="resource.pool.type.0" value="duke.vlan" /> 
                    <property name="resource.pool.properties.0" value="vlan.tag.start=100,vlan.tag.end=200" /> 
                    <property name="resource.pool.ticket.units.0" value="101" /> 
                    <property name="resource.pool.ticket.start.0" value="0" /> 
                    <property name="resource.pool.ticket.end.0" value="10000000" /> 
                    <!-- Handler configuration --> 
                    <property name="resource.pool.handler.packageId.0" value="f7ec610c-d838-4239-87fc-869a8cbf848e" /> 
                    <property name="resource.pool.handler.pluginId.0" value="5" /> 
                    <property name="resource.pool.handler.properties.0" value="" /> 
                </properties> 
                <parameters> 
                    <parameter base="orca.shirako.api.IDatabase" name="Database" type="instance"> 
                        <instance> 
                            <className>
                                orca.cod.plugins.db.MySqlAuthorityCodDatabase
                            </className> 
                            <properties> 
                                <property name="db.mysql.server" value="localhost" /> 
                                <property name="db.mysql.db" value="orca" /> 
                                <property name="db.mysql.user" value="orca" /> 
                                <property name="db.mysql.password" value="" /> 
                            </properties> 
                        </instance> 
                    </parameter> 
                    <parameter base="orca.shirako.plugins.config.Config" name="Config" type="instance"> 
                        <instance> 
                            <className>
                                orca.cod.plugins.config.CodAntConfig
                            </className> 
                        </instance> 
                    </parameter> 
                </parameters> 
            </plugin> 
        </actor> 
        <!-- VLAN Broker --> 
        <actor> 
            <name>
                vlan-broker
            </name> 
            <description>
                VLAN broker
            </description> 
            <guid>
                ca7b27d5-33b3-49f1-9fdf-084491eabaa6
            </guid> 
            <instance> 
                <className>
                    orca.shirako.core.Broker
                </className> 
            </instance> 
            <mapper> 
                <className>
                    orca.policy.core.BrokerSimplerUnitsPolicy
                </className> 
            </mapper> 
            <plugin> 
                <className>
                    orca.shirako.plugins.ShirakoPlugin
                </className> 
                <parameters> 
                    <parameter base="orca.shirako.api.IDatabase" name="Database" type="instance"> 
                        <instance> 
                            <className>
                                orca.shirako.plugins.db.MySqlClientDatabase
                            </className> 
                            <properties> 
                                <property name="db.mysql.server" value="localhost" /> 
                                <property name="db.mysql.db" value="orca" /> 
                                <property name="db.mysql.user" value="orca" /> 
                                <property name="db.mysql.password" value="" /> 
                            </properties> 
                        </instance> 
                    </parameter> 
                </parameters> 
            </plugin> 
        </actor> 
        <!-- VM sites --> 
        <actor> 
            <name>
                renci-vm-site
            </name> 
            <description>
                VM site authority at RENCI
            </description> 
            <guid>
                3299c487-924e-4463-a18b-a908d435b012
            </guid> 
            <instance> 
                <className>
                    orca.shirako.core.Authority
                </className> 
            </instance> 
            <mapper> 
                <className>
                    orca.policy.core.AuthorityCalendarPolicy
                </className> 
                <parameters> 
                    <parameter base="orca.policy.core.IResourceControl" name="ResourceControl" type="instance"> 
                        <instance> 
                            <className>
                                orca.cod.control.VMControl
                            </className> 
                            <properties> 
                                <property name="resource.types" value="renci.vm" /> 
                            </properties> 
                        </instance> 
                    </parameter> 
                </parameters> 
            </mapper> 
            <plugin> 
                <className>
                    orca.cod.plugins.Site
                </className> 
                <properties> 
                    <!-- Storage servers to be transferred to this site --> 
                    <property name="inventory.storage" value="go-nfs.renci" /> 
                    <!-- Physical machines to be transferred to this site --> 
                    <property name="inventory.machines" value="go-1.renci go-2.renci" /> 
                    <!-- Resource pool configuration --> 
                    <property name="resource.pools.count" value="1" /> 
                    <!-- 	First resource pool configuration --> 
                    <property name="resource.pool.name.0" value="RENCI VM pool" /> 
                    <property name="resource.pool.type.0" value="renci.vm" /> 
                    <property name="resource.pool.properties.0" value="total.memory=1024,total.cpu=100,total.bandwidth=1000,capacity=3,cpu.model=Intel Celeron 2.8 GHz" /> 
                    <property name="resource.pool.machines.0" value="go-1.renci go-2.renci" /> 
                    <!--    Source ticket configuration --> 
                    <property name="resource.pool.ticket.units.0" value="6" /> 
                    <property name="resource.pool.ticket.start.0" value="0" /> 
                    <property name="resource.pool.ticket.end.0" value="10000000" /> 
                    <!-- Handler configuration --> 
                    <property name="resource.pool.handler.packageId.0" value="583c10bfdbd326ba:-523aeda8:11644bdcf54:-8000" /> 
                    <property name="resource.pool.handler.pluginId.0" value="1" /> 
                    <property name="resource.pool.handler.properties.0" value="server.name=go-nfs.renci,server.guid=3b171f41-c84e-4c05-b9b2-c8d6e9e47209,server.ip=192.168.201.16,server.base=rpool/images/orca,server.control=192.168.201.12" /> 
                </properties> 
                <parameters> 
                    <parameter base="orca.shirako.api.IDatabase" name="Database" type="instance"> 
                        <instance> 
                            <className>
                                orca.cod.plugins.db.MySqlAuthorityCodDatabase
                            </className> 
                            <properties> 
                                <property name="db.mysql.server" value="localhost" /> 
                                <property name="db.mysql.db" value="orca" /> 
                                <property name="db.mysql.user" value="orca" /> 
                                <property name="db.mysql.password" value="" /> 
                            </properties> 
                        </instance> 
                    </parameter> 
                    <parameter base="orca.shirako.plugins.config.Config" name="Config" type="instance"> 
                        <instance> 
                            <className>
                                orca.cod.plugins.config.CodAntConfig
                            </className> 
                        </instance> 
                    </parameter> 
                    <parameter base="orca.cod.plugins.NetworkConfigurationManager" name="NetworkManager" type="instance"> 
                        <instance> 
                            <className>
                                orca.cod.plugins.NetworkConfigurationManager
                            </className> 
                            <parameters> 
                                <parameter base="orca.cod.plugins.NetworkConfiguration" name="NetworkConfiguration" type="instance"> 
                                    <instance> 
                                        <className>
                                            orca.cod.plugins.NetworkConfiguration
                                        </className> 
                                        <properties> 
                                            <property name="network.service.ips" value="192.168.201.30-200" /> 
                                            <property name="network.service.netmask" value="255.255.255.0" /> 
                                            <property name="network.service.gateway" value="192.168.201.1" /> 
                                        </properties> 
                                    </instance> 
                                </parameter> 
                                <parameter base="orca.cod.plugins.DnsConfiguration" name="DnsConfiguration" type="instance"> 
                                    <instance> 
                                        <className>
                                            orca.cod.plugins.DnsConfiguration
                                        </className> 
                                        <properties> 
                                            <property name="dns.prefix" value="default" /> 
                                            <property name="dns.zone" value="cod.cs.duke.edu" /> 
                                            <property name="dns.mx" value="10 cod.cs.duke.edu" /> 
                                        </properties> 
                                    </instance> 
                                </parameter> 
                            </parameters> 
                        </instance> 
                    </parameter> 
                </parameters> 
            </plugin> 
        </actor> 
        <actor> 
            <name>
                vm-broker
            </name> 
            <description>
                VM broker
            </description> 
            <guid>
                dbcf2bdd-e0b2-498b-8dc1-cd0eb2026d6f
            </guid> 
            <instance> 
                <className>
                    orca.shirako.core.Broker
                </className> 
            </instance> 
            <mapper> 
                <className>
                    orca.policy.core.BrokerSimpleUnitsPolicy
                </className> 
            </mapper> 
            <plugin> 
                <className>
                    orca.shirako.plugins.ShirakoPlugin
                </className> 
                <parameters> 
                    <parameter base="orca.shirako.api.IDatabase" name="Database" type="instance"> 
                        <instance> 
                            <className>
                                orca.shirako.plugins.db.MySqlClientDatabase
                            </className> 
                            <properties> 
                                <property name="db.mysql.server" value="localhost" /> 
                                <property name="db.mysql.db" value="orca" /> 
                                <property name="db.mysql.user" value="orca" /> 
                                <property name="db.mysql.password" value="" /> 
                            </properties> 
                        </instance> 
                    </parameter> 
                </parameters> 
            </plugin> 
        </actor> 
        <!-- Service manager --> 
        <actor> 
            <name>
                service
            </name> 
            <description>
                Service Manager
            </description> 
            <guid>
                1255a9af-8e48-4469-94d2-09bd43e9b506
            </guid> 
            <instance> 
                <className>
                    orca.shirako.core.ServiceManager
                </className> 
            </instance> 
            <mapper> 
                <className>
                    orca.policy.core.ServiceManagerSimplePolicy
                </className> 
            </mapper> 
            <plugin> 
                <className>
                    orca.cod.plugins.ServiceManagerCodPlugin
                </className> 
                <parameters> 
                    <parameter base="orca.shirako.api.IDatabase" name="Database" type="instance"> 
                        <instance> 
                            <className>
                                orca.cod.plugins.db.MySqlCodDatabase
                            </className> 
                            <properties> 
                                <property name="db.mysql.server" value="localhost" /> 
                                <property name="db.mysql.db" value="orca" /> 
                                <property name="db.mysql.user" value="orca" /> 
                                <property name="db.mysql.password" value="" /> 
                            </properties> 
                        </instance> 
                    </parameter> 
                    <parameter base="orca.shirako.plugins.config.Config" name="Config" type="instance"> 
                        <instance> 
                            <className>
                                orca.shirako.plugins.config.AntConfig
                            </className> 
                            <properties> 
                                <property name="config.count" value="1" /> 
                                <property name="config.type.0" value="1" /> 
                                <property name="config.file.0" value="handlers/common/noop.xml" /> 
                            </properties> 
                        </instance> 
                    </parameter> 
                </parameters> 
            </plugin> 
        </actor> 
    </actors> 
    <topology> 
        <edges> 
            <edge> 
                <from name="service" type="sm" /> 
                <to name="vlan-broker" type="agent"> 
                    <location protocol="soapaxis2" url="http://go-m1.renci.ben:8080/orca/services/vlan-broker" /> 
                </to> 
            </edge> 
            <edge> 
                <from name="service" type="sm" /> 
                <to name="vm-broker" type="agent"> 
                    <location protocol="soapaxis2" url="http://go-m1.renci.ben:8080/orca/services/vm-broker" /> 
                </to> 
            </edge> 
            <edge> 
                <from name="vlan-broker" type="agent" /> 
                <to name="ben-vlan-site" type="authority"> 
                    <location protocol="soapaxis2" url="http://go-m1.renci.ben:8080/orca/services/ben-vlan-site" /> 
                </to> 
                <rset> 
                    <type>
                        ben.vlan
                    </type> 
                    <units>
                        100
                    </units> 
                </rset> 
            </edge> 
            <!-- FIXME: fix the number of exported units --> 
            <edge> 
                <from name="vlan-broker" type="agent" /> 
                <to name="nlr-vlan-site" type="authority"> 
                    <location protocol="soapaxis2" url="http://go-m1.renci.ben:8080/orca/services/nlr-vlan-site" /> 
                </to> 
                <rset> 
                    <type>
                        nlr.vlan
                    </type> 
                    <units>
                        10
                    </units> 
                </rset> 
            </edge> 
            <!-- FIXME: fix the number of exported units --> 
            <edge> 
                <from name="vlan-broker" type="agent" /> 
                <to name="duke-net-site" type="authority"> 
                    <location protocol="soapaxis2" url="http://go-m1.renci.ben:8080/orca/services/duke-net-site" /> 
                </to> 
                <rset> 
                    <type>
                        duke.vlan
                    </type> 
                    <units>
                        100
                    </units> 
                </rset> 
            </edge> 
            <edge> 
                <from name="vm-broker" type="agent" /> 
                <to name="renci-vm-site" type="authority"> 
                    <location protocol="soapaxis2" url="http://go-m1.renci.ben:8080/orca/services/renci-vm-site" /> 
                </to> 
                <rset> 
                    <type>
                        renci.vm
                    </type> 
                    <units>
                        6
                    </units> 
                </rset> 
            </edge> 
            <edge> 
                <from name="vm-broker" type="agent" /> 
                <to name="unc-vm-site" type="authority" guid="08affd38-76d7-453f-a0a7-0d273a2abb43"> 
                    <location protocol="soapaxis2" url="http://go-m1.unc.ben:8080/orca/services/unc-vm-site" /> 
                    <certificate>
                         MIICaDCCAdECBEpOdxUwDQYJKoZIhvcNAQEEBQAwezELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAk5D MQ8wDQYDVQQHEwZEdXJoYW0xDTALBgNVBAoTBG9yY2ExEDAOBgNVBAsTB3NoaXJha28xLTArBgNV BAMTJDA4YWZmZDM4LTc2ZDctNDUzZi1hMGE3LTBkMjczYTJhYmI0MzAeFw0wOTA3MDMyMTI0Mzda Fw0wOTEwMDEyMTI0MzdaMHsxCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJOQzEPMA0GA1UEBxMGRHVy aGFtMQ0wCwYDVQQKEwRvcmNhMRAwDgYDVQQLEwdzaGlyYWtvMS0wKwYDVQQDEyQwOGFmZmQzOC03 NmQ3LTQ1M2YtYTBhNy0wZDI3M2EyYWJiNDMwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBALoX kqsPhnvofJa4cQupDkQluFUaxWV8YOzHwvCdZaH6ZN7CYLa4XJ/XScgz6BH+Tfq05WfecplroKlX NKD7Wt/BvYPIToYvxgCU+qQDf5g7qjSWnPRyfS6vxYeP5jyN85dippyXXwoYARNYiX7jUO8zL7N8 tFKYZftHtHVRrl9fAgMBAAEwDQYJKoZIhvcNAQEEBQADgYEAa2p5Jtv7Ci7inKmSYK/XN+UCOLr/ ph5Ymg2KA51clUXAnTpqMT300DIyXqZl7RpXMJQyHPChAxaL2Z8hNDCDu2WPIx5vwZsnuVRmTzsV KxMn+8OE25fuFVtI9zsSz4lWY/8IEUV2YpZvXFLRq4susG0NKJnSJPN7qGmSebduELk= 
                    </certificate> 
                </to> 
            </edge> 
            <edge> 
                <from name="vm-broker" type="agent" /> 
                <to name="duke-vm-site" type="authority" guid="bdcf1c22-2303-416c-b4f5-ea843d8b9aee"> 
                    <location protocol="soapaxis2" url="http://go-m1.duke.ben:8080/orca/services/duke-vm-site" /> 
                    <certificate>
                         MIICaDCCAdECBEpOdk4wDQYJKoZIhvcNAQEEBQAwezELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAk5D MQ8wDQYDVQQHEwZEdXJoYW0xDTALBgNVBAoTBG9yY2ExEDAOBgNVBAsTB3NoaXJha28xLTArBgNV BAMTJGJkY2YxYzIyLTIzMDMtNDE2Yy1iNGY1LWVhODQzZDhiOWFlZTAeFw0wOTA3MDMyMTIxMTha Fw0wOTEwMDEyMTIxMThaMHsxCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJOQzEPMA0GA1UEBxMGRHVy aGFtMQ0wCwYDVQQKEwRvcmNhMRAwDgYDVQQLEwdzaGlyYWtvMS0wKwYDVQQDEyRiZGNmMWMyMi0y MzAzLTQxNmMtYjRmNS1lYTg0M2Q4YjlhZWUwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAKEr VWO4Io+P7k/a7jsLDrp1NWz6hPagyJKUlmCN1pDGJMKj7fjWwgpA1S60te6NdkgS+ihsTqiSiJZ/ +rkiazCeC1tirowuqOr1u83W59Tv1S69Jf+bqsSTcyxIrhnn96H66eXcGIjeuSvng3rQfBkSzZex rZ1JdzEsMTBYmCulAgMBAAEwDQYJKoZIhvcNAQEEBQADgYEAY2jABw7Wd8w5UFdA8bJbPmRpl0g4 +dragl1PiHXec6ier860DzIYuJBJVGrJMRFL5lI7LuloSpwT8xCQ8nJOS28cWG3NUQvABR2hJ5Bx pQkk8YWeYVSJFq1ryXBDT1+avcRoC5ZtQFIZioWFMpRmAs9umUzoyn23Vy1Q3lvjg0I= 
                    </certificate> 
                </to> 
            </edge> 
        </edges> 
    </topology> 
</configuration>