#parse("/secure/common/top.vm")
#parse("${root.getPackageRoot('f7ec610c-d838-4239-87fc-869a8cbf848e')}/top.vm")

<div class="title">Request Resources</div>
<div class="titleSpacer"/>  

#set ($vmsduke=$params.getInt("vmsduke", 0))
#set ($vmsrenci=$params.getInt("vmsrenci", 0))
#set ($vmsunc=$params.getInt("vmsunc", 0))
#set ($start=$params.getString("start"))
#set ($end=$params.getString("end"))
#set ($ndl=$params.getString("ndl"))


#if ($vmsduke > 0 && $vmsrenci > 0 && $vmsunc > 0 && $ndl && $start && $end)
	#set ($result = $sliceProxy.addRequest($start, $end, $vmsduke, $vmsrenci, $vmsunc, $ndl, $identity.getAuth()))
	#printResultNoRedirect($result "An error occurred")
	#if (!$errorFlag)
		#printMessage("Reservation request submitted. Wait for a few seconds before the system starts processing it")
	#end
#else
	#printMessage("Invalid arguments")
#end

