#parse("/secure/common/top.vm")
#parse("${root.getPackageRoot('f7ec610c-d838-4239-87fc-869a8cbf848e')}/top.vm")

<div class="title">Controller Status</div>
<div class="titleSpacer"/>     

#set($tmp=false)
#set($tmp=$sliceProxy.getVMBroker($identity.getAuth()))

#set ($errorFlag=false)
#printResultNoRedirect($tmp "An error occurred while obtaining VM broker details")
#if (!$errorFlag)
	#set($vmbroker=$list.get($tmp.getResult(), 0))
#end	

#set($tmp=false)
#set($tmp=$sliceProxy.getVlanBroker($identity.getAuth()))

#set ($errorFlag=false)
#printResultNoRedirect($tmp "An error occurred while obtaining VLAN broker details")
#if (!$errorFlag)
	#set($vlanbroker=$list.get($tmp.getResult(), 0))
#end	

<table cellpadding="0" cellspacing="0" boder="0">
<tr><td valign="top" style="padding-right:10px">
<table cellpadding="0" cellspacing="0" border="0">
	<tr>
  		<td class="menuTable" colspan="2"><b>Brokers</b></td>            
	</tr>
	<tr>
  		<td class="batchSummaryCell"><b>Virtual Machines Broker:</b></td>
  		<td class="batchSummaryCell" style="padding-left: 5px">$vmbroker.getName()</td>
	</tr>
	<tr>
		<td class="batchSummaryCell" valign="top"><b>Avaliable Resources:</b></td>
		<td valign="top" style="padding-left: 5px">
			#set($tmp=false)
			#set($tmp=$actorProxy.getPoolInfo($vmbroker.getName(), $identity.getAuth()))
			#set($pools=$tmp.getResult())	
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td class="tableHeader-right" width="20">No.</td> 
					<td class="tableHeader-left" width="60">Type</td>
					<td class="tableHeader-left" width="100">Description</td>
					<td class="tableHeader-left" width="120">CPU</td>
					<td class="tableHeader-left">Memory</td>
					<td class="tableHeader-left">Bandwidth</td>
					<td class="tableHeader-left">VM Share</td>
				</tr>
				
				#foreach($pool in $pools)
					#set($props=false)
					#set($props=$root.convertFromMng($pool.getProperties()))
    			
    				<tr>
    					<td>$velocityCount</td>
    					<td>$pool.getType()</td>
    					<td>$pool.getName()</td>
    					<td><nobr>$!{props.getProperty("cpu.model")}</nobr>&nbsp;</td>
    					<td>$props.getProperty("total.memory") MB</td>
    					<td>$props.getProperty("total.bandwidth") Mb/s</td>
    					<td align="right">1/$props.getProperty("capacity")</td> 
					</tr>
				#end
			</table>
		</td>
	</tr>
	<tr>
		<td height="10" colspan="2">&nbsp;</td>
	</tr>
	<tr>
  		<td class="batchSummaryCell"><b>VLAN Broker:</b></td>
  		<td class="batchSummaryCell" style="padding-left: 5px">$vlanbroker.getName()</td>
	</tr>
	<tr>
		<td class="batchSummaryCell" valign="top"><b>Avaliable Resources:</b></td>
		<td valign="top" style="padding-left: 5px">
			#set($tmp=false)
			#set($tmp=$actorProxy.getPoolInfo($vlanbroker.getName(), $identity.getAuth()))
			#set($pools=$tmp.getResult())	
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td class="tableHeader-right" width="20">No.</td> 
					<td class="tableHeader-left" width="60">Type</td>
					<td class="tableHeader-left" width="100">Description</td>					
				</tr>
			#foreach($pool in $pools)
				<tr>
					<td>$velocityCount</td>
					<td>$pool.getType()</td>
					<td>$pool.getName()</td>
				</tr>
			#end
			</table>
		</td>
	</tr>
</table>
</td>
<td valign="top" class="batchMenu">
	<table boder="0" cellpadding="0" cellspacing="0">
    	<tr>
        	<td class="menuTable"><b>Actions</b></td>            
        </tr>
        <tr>
			<td class="menuTable"><a href="add.vm">Request Resources</td>            			
        </tr>
         <tr>
			<td class="menuTable"><a href="view.vm">View Requests</td>            			
        </tr>
    </table>
</td>
</tr>
</table>
