[Unit]
Description=NAME.service
Requires=REPLACE.service

[Service]
EnvironmentFile=/etc/sysconfig/NAME
RuntimeDirectory=NAME
RuntimeDirectoryMode=0755
RuntimeDirectoryPreserve=yes
User=geni-orca
PIDFile=/var/run/NAME/orcad.pid
Restart=always
Type=forking
StandardOutput=journal+console
ExecStart=/etc/init.d/NAME start
ExecReload=/etc/init.d/NAME clean-restart
ExecStop=/etc/init.d/NAME stop

[Install]
WantedBy=default.target
