ORCA_HOME="@@ORCA_HOME@@"
ORCA_SERVER_PORT="@@ORCA_SERVER_PORT@@"
# to enable SSL, create a self-signed keystore and set parameters here
#ORCA_SSL_SERVER_PORT="@@ORCA_SSL_SERVER_PORT@@"
#ORCA_KEYSTORE="@@ORCA_HOME@@/ssl/keystore.jks"
#ORCA_ALIAS="selfsigned"
#ORCA_PASSPHRASE="password"
